{{include('header.twig')}}

<div class="row">
    <p>&nbsp;</p>
</div>
<div class="row">
    <h1>Meus Dados</h1>
</div>
<div class="row">
    <div class="col-4">
        <img src="http://localhost/tennis/public/assets/images/image-teste.png" width="200" height="200" />
        <br /> &nbsp;
        <br />
        <a class="btn btn-dark" href="#">Alterar foto</a>
    </div>
    <div class="col-8">
        <h2>Renan Santos Gomes</h2>
        <label>Bio:</label>
        <p>Jogador iniciante no tenis querendo se divertir</p>
    </div>
</div>
<div class="row">
    <p>&nbsp;</p>
</div>
<div class="row">
    <div class="col-4">
        <a class="btn btn-outline-dark col-12" href="#">Alterar Dados</a>
    </div>
    <div class="col-4">
        <a class="btn btn-outline-primary col-12" href="#">Alterar Senha</a>
    </div>
    <div class="col-4">
        <a class="btn btn-outline-danger col-12" href="#">Remover conta</a>
    </div>
</div>

{{include('footer.twig')}}