{{include('header.twig')}}

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://localhost/tennis/public/assets/images/image-teste.png" alt="Jogador de tennis">
    <div class="card-body">
      <h5 class="card-title">Meus Dados</h5>
      <p class="card-text">Atualize os seus dados de jogador</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://localhost/tennis/public/assets/images/image-teste.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Minhas Ligas</h5>
      <p class="card-text">Veja as ligas que você participa</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://localhost/tennis/public/assets/images/image-teste.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meus Jogos</h5>
      <p class="card-text">Acompanhe sua agenda de jogos</p>
    </div>
  </div>
</div>

{{include('footer.twig')}}