{{include('header.twig')}}

<div class="row">
    <p>&nbsp;</p>
</div>
<div class="row">
    <h1 class="col-12">Minhas Ligas</h1>
</div>
<div class="row">
    <p class="col-12">As ligas que você está cadastrado</p>
</div>
<div class="list-group">
    <a href="http://localhost/tennis/public/ligas/1/dash" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Amigos do Tennis</h5>
            <small>
                <i class="fas fa-user"></i> 10</small>
        </div>
        <p class="mb-1">Amigos que jogam tênis</p>
    </a>
    <a href="http://localhost/tennis/public/ligas/1/dash" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Amantes do tênis</h5>
            <small>
                <i class="fas fa-user"></i> 8</small>
        </div>
        <p class="mb-1">Amamos tênis!</p>
    </a>
    <a href="http://localhost/tennis/public/ligas/1/dash" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Tênis Para Sempre</h5>
            <small>
                <i class="fas fa-user"></i> 5</small>
        </div>
        <p class="mb-1">Jogamos tênis com muita frequência.</p>
    </a>
</div>
<div class="row">
    <p>&nbsp;</p>
</div>
<div class="row">
    <div class="col-6">
        <a name="" id="" class="btn btn-outline-dark col-12" href="#" role="button">Entrar em uma liga</a>
    </div>
    <div class="col-6">
        <a name="" id="" class="btn btn-outline-dark col-12" href="#" role="button">Criar uma liga</a>
    </div>
</div>


{{include('footer.twig')}}